/target/
/target_dir/

mvnw.cmd
mvnw

.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
*.code-workspace
.vscode/

# System files
.DS_Store
Thumbs.db

src/main/resources/application.properties
!/src/main/resources/application.properties.example